.card_container{
    display: flex;
    padding: 10px 10px 0 10px ;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: grey(77, 122, 139);
    border: 2px solid rgb(0, 0, 0);
}
.info_number{
    color: grey;
    font-weight: 700;
}
.genderInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gender{
    font-size: 16px;
    font-weight: 600;
}
.info_of_contact{
    font-size: 20px;
}
.information{
    display: flex;
    justify-content: space-between;
}